html {box-sizing: border-box;}
*,
*:before,
*:after {box-sizing: inherit;}

body{background-color: #fff;}
.colsize1{width:8.33333%;}
.colsize2{width:16.66666%;}
.colsize3{width:24.99999%;}
.colsize4{width:33.33333%;}
.colsize5{width:41.66666%;}
.colsize6{width:49.99999%;}
.colsize7{width:58.33333%;}
.colsize8{width:66.66666%;}
.colsize9{width:74.99999%;}
.colsize10{width:83.33333%;}
.colsize11{width:91.66666%;}
.colsize12{width:99.99999%;}
.container{width: 100%; background:black;}

#bigFont{font-size: 32px;}

*{margin: 0; padding: 0;}

.group{
	display: table;
	clear: both;
}
.sidebar{height:80em; position: relative; background-color: #000;}
.sidebar ul{    
	position: fixed;
    top: 10%;
    left: 3%;
}
.floatLeft{float: left;}
.floatRight{float: right;}
.rightCol{background-color: #fff;}

p { font-size: 16px; margin: 0 0 15px 0; font-family: 'Almendra', serif; color: #05142b;}
li { font-family: 'Smythe', cursive; font-size: 1em; letter-spacing: 1px; color: #717171; padding: 0.5em 0;}
h2 { font-family: 'Quintessential', cursive; font-size: 2.0em; letter-spacing: -1px; color: #650000;}
h3{ font-family: 'Tangerine', cursive; font-size: 2.2em; letter-spacing: -1px; color: #730000;font-weight: bolder;}
h4, h5{ font-family: 'Quintessential', cursive; font-size: 1em; letter-spacing: 1px; color: #000000;}
h6{ font-family: 'Quintessential', cursive; font-size: 1em; letter-spacing: 1px; color: #730000;}
button:hover, button:active, button:visited, button:focus{
	border: 0;
	cursor: pointer;
	outline: 0px;
}

h1{}
span,button{    
	font-family: 'Smythe';
    letter-spacing: 1px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
	color: #4e0000;
}
span:hover{color:#000;}
a { color: #fff; text-decoration: none;font-size: 20px;}
a:hover { color: #690505; font-weight: bold; }

.img{
    height: 10em;
    width: 15em;
    background-size: 15em 10em;
    background-repeat: no-repeat;
	margin-top: 1em;
}

button{    
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 5em;
    background: rgba(0, 0, 0, 0.59);
    border: 0px;
    font-size: 18px;
	display: none;
	color: #fff;
	letter-spacing: 2px;
}

label{    
	font-size: larger;
    color: black;
    font-weight: bold;
}

ul{list-style: none;}
.toggled{display:none;}
.gutterright{padding-right: 2em;}
.gutterleft{padding-left:2em;}
.gutterboth{padding-left:1em;padding-right: 1em;}
.gutterTopBot{padding-top: 2em; padding-bottom:2em; }
.techlist li{float:left;}

#pro .project-details{
    height: 14em;
    margin: 1em 2em;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#Rest .img{
	background-image: url("../thumbnail/rest.png");
}

#ML .img{
	background-image: url("../thumbnail/ML.png");
}
#CC .img{
	background-image: url("../thumbnail/aws.jpeg");
}

.techlist li{padding:6px; color:black;}
.techlist .a{font-size: 18px; font-weight: bold; transform:rotate(0deg) }
.techlist .b{font-size: 22px;transform:rotate(0deg)}
.techlist .c{font-size: 28px;transform:rotate(0deg)}
.techlist .d{font-size: 36px;transform:rotate(0deg)}
/*#bg{background-image: url("../images/bg.PNG");}*/
