html, body{
	overflow-x: hidden;
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0;
    font-family: 'Federo', sans-serif;
    background-color: white;
    color: #000;
}
#menu{
    padding-top: 0;
        font-size: 14px;
}

#contact{
         font-size: 14px;
}

.row{
    margin: 0 auto;
    float: none;
    position: relative;
        font-size: 18px;
}

.space{
    height: 5em;
}

#title{
font-size: 24px;
    color: #3b5927;
    font-weight: 700;

}

#basicme{
    height: 10em;
    overflow: hidden;
}

#readmore{
    display: none;
}

.col-md-10{
    margin: 0 auto;
    float: none;
    position: relative;
    margin-bottom: 0em;
}

#menu .icons li{
    list-style: none;
    float: left;
    display: inline-block;
    height: 2em;
    width: 10em;
    padding: 5px;
}

#menu .icons a{
    color: #fff;
}

#menu .icons a:hover{
    color: grey;
    text-decoration: none;
}

#education .courses li {
    list-style: none;
    float: left;
    display: inline-block;
    height: 2em;
    width: 22em;
    padding: 5px;
}
#classes{
    cursor: pointer;
}

.courses{
    display: none;
}

#introduction{
    height: 18em;
    color: #072561;
}

#introduction img{
height: 10em;
    width: 11em;
    position: relative;
    top: 8em;
    left: 12em;
}

#introduction h2{
    position: absolute;
    top: 2em;
}

#introduction span{
    position: relative;
}

#menu{
    height: 4em;
    margin-bottom: 1em;
    z-index: 1;
    position: fixed;
    top: 10em;
    width: 83.4em;
    top: 0em;
    left: 48.2px;
    line-height: 3em;
    background: #000;
}

 #education{
    padding-bottom: 2em;
}

#experience .col-md-10{
    margin-bottom: 1.5em;
}

#experience{
    padding-bottom: 2em;
}

#technology{
    padding-bottom: 2em;
}

#projects{
    padding-bottom: 2em;
}

#projects h5{
    color: #000;
}

#projects h4{
    color: rgb(0, 0, 0);
    font-weight: 700;

}

#technology .techlist li{
    float: none;
    display: inline-block;
    padding: 10px;
    font-weight: 700;
}

#technology .techlist #small{
    font-size: 18px;
    width: 6em;
}

#technology .techlist #med{
    font-size: 21px;
      width: 9em;
}


#technology .techlist #big{
    font-size: 26px;
        width: 6em;
}


#contact{
    padding-bottom: 2em;
    padding-top: 2em;
}

#contact .contactlinks{
        position: relative;
    left: 8em;
}

#contact .contactlinks li {
    list-style: none;
    float: left;
    display: inline-block;
    padding: 5px;
    height: 4em;
    width: 26em;
    font-weight: 700;
    color: rgb(15, 35, 75);
    font-size: 18px;
}

#contact .contactlinks img{
    height: 2em;
    width: 2em;
    position: relative;
    top: 2px;
    left: 8px;
    margin-right: 2em;
}

#technology .certs img{
    height: 10em;
    width: 14em;
    cursor: pointer;
    margin: 1em;
}
 
.certs span{
    display: none;
    font-size: 66px;
    cursor: pointer;
}


#footer{
    height: 3em;
    margin-bottom: 0;
        background: #000;
    padding-bottom: 2em;
    padding-top: 2em;
    line-height: 1px;
    color: white;
}